name: Build and Deploy

on:
  push:
    tags:
      - '*.*.*'
    
jobs:
  build:
   name: Build Package
   runs-on: ubuntu-latest
   steps:
     - name: Checkout Repository
       uses: actions/checkout@v4
     
     - name: Set up -NET Core
       uses: actions/setup-dotnet@v4
       with:
        dotnet-version: 8.0.x
     
     - name: Set Nuget source
       run: dotnet nuget add source -n github -u AZ -p ${{ secrets.NUGET_PACKAGE_TOKEN }} --store-password-in-clear-text https://nuget.pkg.github.com/Revolutionized-IoT2/index.json

     - name: Restore
       run: dotnet restore "./RIoT2.Net.Devices.csproj"

     - name: Build
       run: dotnet build --configuration Release

     - name: Create Release
       id: create_release
       uses: actions/create-release@v1
       env:
        GITHUB_TOKEN: ${{ secrets.NUGET_PACKAGE_TOKEN }}
       with:
          tag_name: ${{ github.ref }}
          release_name: Devices plugin ${{ github.ref }}
          draft: false
          prerelease: false

     - name: Set current date as env variable
       run: echo "NOW=$(date +'%Y-%m-%dT%H:%M:%S')" >> $GITHUB_ENV

     - name: Set filename
       run: echo "zipFileName=RIoT2.Net.Devices_${{github.ref_name}}.zip" >> $GITHUB_ENV
          
     - name: Create NodeInfo.txt file
       run: |
          cat <<EOF > /home/runner/work/RIoT2.Net.Devices/RIoT2.Net.Devices/bin/Release/net8.0/PluginManifest.json
          { "name": "Devices plugin", "date": "${{github.env.NOW}}", "version": "${{github.ref_name}}", "installedPackageFilename": "${{github.env.zipFileName}}" }
          EOF
          
     - name: Zip files
       shell: pwsh
       run: |
        cd /home/runner/work/RIoT2.Net.Devices/RIoT2.Net.Devices/bin/Release/net8.0/
        zip ${{github.env.zipFileName}} Azure.Core.dll Azure.Identity.dll FluentFTP.dll Google.Apis.Auth.dll Google.Apis.Core.dll Google.Apis.dll Microsoft.Azure.Relay.dll Microsoft.Bcl.AsyncInterfaces.dll Microsoft.Identity.Client.dll Microsoft.Identity.Client.Extensions.Msal.dll Microsoft.IdentityModel.JsonWebTokens.dll Microsoft.IdentityModel.Logging.dll Microsoft.IdentityModel.Tokens.dll RIoT2.Net.Devices.dll System.CodeDom.dll System.Diagnostics.DiagnosticSource.dll System.Management.dll System.Security.Cryptography.ProtectedData.dll Zhaobang.FtpServer.dll System.ClientModel.dll System.Memory.Data.dll Microsoft.IdentityModel.Abstractions.dll PluginManifest.json
      
     - name: upload zip to releases
       uses: actions/upload-release-asset@v1
       env:
         GITHUB_TOKEN: ${{ secrets.NUGET_PACKAGE_TOKEN }}
       with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: /home/runner/work/RIoT2.Net.Devices/RIoT2.Net.Devices/bin/Release/net8.0/${{github.env.zipFileName}}
        asset_name: ${{github.env.zipFileName}}
        asset_content_type: application/x-msdownload
